<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN       " "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background: #ffffff; color: #808284; font-family: sans-serif; font-size: 15px; line-height: 1.5; margin: 0; width: 100%;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
    <tr>
        <td bgcolor="#ffffff" width="100%">

            <table class="main-wrapper" width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                <tr>
                    <td class="cell" width="100%">

                        <div class="wrapper" style="-moz-border-radius: 3px; -webkit-border-radius: 3px; border: #e5e3d8 1px solid; border-radius: 3px; margin: 2%; padding: 5% 8%;">
                            <table class="content" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td class="content-cell" width="100%">

                                        <!-- START OF EMAIL CONTENT -->
                                        <h1 style="color: #212425; font-family: sans-serif; font-size: 28px; font-weight: 600; line-height: 1.1; margin: 0.4em 0 0.8em 0; padding: 0;">Selamat Datang</h1>
                                        <p style="color: #808284; font-family: sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;"><strong>{{blogName}}</strong> Blog. Sampaikan kegelisahan, cerita, pelajaran dan pengalamanmu dalam mengembangkan produk! {{invitedByName}} telah mengundang kamu untuk bergabung. Silahkan klik tautan di bawah ini untuk mengaktifkan akun kamu.</p>
                                        <p style="color: #808284; font-family: sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;"><a href="{{resetLink}}" style="color: #5ba4e5;">Klik disini untuk mengaktifkan akunmu</a></p>
                                        <p style="color: #808284; font-family: sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;">Jika kamu mengalami kesulitan aktivasi akun {{blogName}} Blog, kamu dapat menghubungi {{invitedByName}} di alamat email {{invitedByEmail}} untuk meminta bantuan.</p>
                                        <p style="color: #808284; font-family: sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;">Have fun, and good luck!</p>
                                        <!-- END OF EMAIL CONTENT -->

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="container" style="padding: 0 4%;">
                            <table class="footer" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="footer-cell" align="right" style="color: #888888; font-family: sans-serif; font-size: 11px; line-height: 1.3; padding: 0 0 20px 0;">
                                        Sent by <a href="{{siteUrl}}" style="color: #5ba4e5;">{{siteUrl}}</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</body>
</html>
